.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.titleIcon {
  display: block;
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 1rem;
  border-radius: 50%;
  text-align: center;
  color: $dark;
  font-size: 1rem;
  line-height: 2.25rem;
}
